@import '~jeet/scss/index';
@import '~breakpoint-sass/stylesheets/breakpoint';

body {
	font-size: 16px;
	font-family: serif;
}

header {
	nav {
		ul {
			@include clearfix;
			margin: 0;
			padding: 0;
		}
		li {
			float: left;
			list-style: none;
			a {
				padding: 10px;
				display: block;
			}
		}
	}
}

footer {
	padding: 20px 0;
}
