<header>
  <nav>
    <ul class="nav">
      <li>
        <a href="/index.html">Home</a>
      </li>
      <li>
        <a href="/templates/page.html">Page</a>
      </li>
    </ul>
  </nav>
</header>
